{% extends "index.html" %} {% block content %}
<div class="flex flex-wrap -mx-3">
  <div class="flex-none w-full max-w-full px-3">
    <div
      class="relative flex flex-col min-w-0 mb-6 p-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border"
    >
      <div
        class="flex flex-wrap -mx-3 justify-center p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent"
      >
        <h6>Edit Data Perusahaan</h6>
      </div>
      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="p-0 overflow-x-auto">
          <form role="form text-left" method="post">
            {% csrf_token %}

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Nama</label
            >
            <input type="text" name="name" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" value="{{perusahaan.nama}}"></input>

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Email</label
            >
            <input type="text" name="email" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" value="{{perusahaan.email}}"></input>

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Website</label
            >
            <input type="text" name="web" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" value="{{perusahaan.web}}"></input>

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Nomor Telepon</label
            >
            <input type="text" name="hp" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" value="{{perusahaan.hp}}"></input>

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Alamat</label
            >
            <input type="text" name="alamat" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" value="{{perusahaan.alamat}}"></input>

            <label class="mb-2 ml-1 font-bold text-xs text-slate-700"
              >Jenis Perusahaan</label
            >

            <select name="jenis_perusahaan" class="mb-4 text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow">
              {% for jenis in choices %}
                <option value="{{ perusahaan.jenis_perusahaan }}">{{ perusahaan.jenis_perusahaan }}</option>
              {% endfor %}
            </select>

            <div class="text-center">
              <button
                type="submit"
                value="Create"
                class="inline-block w-full px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gradient-to-tl from-blue-600 to-cyan-400 hover:border-slate-700 hover:bg-slate-700 hover:text-white"
              >
                SAVE
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}